* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


header {
    width: 100%;
    
    margin-inline: auto;
    height: 60px;
    z-index: 30;
    display: flex;
 
    inset: 0;
    background-color: #207cca;
    
    justify-content: space-between;
    align-items: center;
    
    transition: all 0.2s ease 0s;
    
  }
  

  
  header .logo {
    color: #fff;
    font-weight: 900;
    font-size: 2.35rem;
  }
  
  header nav {
    width: max-content;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    list-style: none;
    gap: 45px;
    opacity: 0.9;
  }
  
  header nav li a {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    transition: all 0.3s ease 0s;
  }
  


 

  .container{
    display:inline-grid;

    width: 100%;
    grid-template-columns: 40% 60%;
  }
  .sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .button{
    background-color:#0f64dd;
    
    
    padding: 5px 10px;
    border: 0;
    border-radius: 10vw;
    cursor: pointer;
    position: absolute;
    transition: transform 0.3s ease;
  }
.datesection{
  display: flex;
    justify-content: center;
   padding-top: 10px;
   padding-bottom: 10px;
}