* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


header {
    width: 100%;
    
    margin-inline: auto;
    height: 60px;
    z-index: 30;
    display: flex;
 
    inset: 0;
    background-color: #207cca;
    
    justify-content: space-between;
    align-items: center;
    
    transition: all 0.2s ease 0s;
    
  }
  

  
  header .logo {
    color: #fff;
    font-weight: 900;
    font-size: 2.35rem;
  }
  
  header nav {
    width: max-content;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    list-style: none;
    gap: 45px;
    opacity: 0.9;
  }
  
  header nav li a {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    transition: all 0.3s ease 0s;
  }
  
  dialog {
    /* Styles for dialogs that carry both modal and non-modal behaviors */
  }
  
  dialog:modal {
    /* Styles for dialogs that carry modal behavior */
  }
  
  dialog:not(:modal) {
    /* Styles for dialogs that carry non-modal behavior */
  }
  
  button {
    cursor: pointer;
    font: inherit;
    line-height: 1;
    padding: 0.5rem;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    font: inherit;
    line-height: 1;
    padding: 0.5rem;
  }
  
  .modal {
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem 0.25rem hsl(0 0% 0% / 10%);
    max-width: 50rem;
    padding: 2rem;
    position: relative;
  }
  
  .modal::backdrop {
    background: hsl(0 0% 0% / 50%);
  }
  
  .modal-close-btn {
    font-size: 0.75em;
    position: absolute;
    right: 0.25em;
    top: 0.25em;
  }
  
 

  .container{
    display:inline-grid;

    width: 100%;
    grid-template-columns: 40% 60%;
  }
  .sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form{
    background-color:#3C91E6;
    padding:10px;
    width:200px;
    height: 400px;
    color:rgb(222, 220, 220);
}
.userdata{
  display:grid;
  grid-template-columns: 50% 50%;
  justify-content: center;

 gap:5px;
  max-width:400px;
  margin:auto;
  margin-top:30px;
  margin-bottom: 20px;
  
}
  .button{
    background-color:#0f64dd;
    
    
    padding: 5px 10px;
    border: 0;
    border-radius: 10vw;
    cursor: pointer;
    position: absolute;
    transition: transform 0.3s ease;
  }
.datesection{
  display: flex;
    justify-content: center;
   padding-top: 10px;
   padding-bottom: 10px;
}


.table thead{
	
	background-color: #e2f1ff;
	height: 50px;
}
 .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
 .table-data > div {
	border-radius: 20px;
	
	padding: 24px;
	overflow-x: auto;
}
 .table-data .head {
	display: flex;
	align-items: center;
  
	border: #3C91E6;
	grid-gap: 16px;
	margin-bottom: 24px;
}
 .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
 .table-data .head .bx {
	cursor: pointer;
}

 .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
 .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
 .table-data .order table th {
	padding-bottom: 10px;
  padding-top: 10px;
  
	font-size: 13px;
	
  color: #e2f1ff;
  background: #3C91E6;
	border-bottom: 1px solid var(--grey);
}
 .table-data .order table td {
	padding: 10px 0;
}
.table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	
}

 .table-data .order table tbody tr:hover {
	background: var(--grey);
}
 .table-data .order table tr td .status {
	font-size: 10px;

	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
.table-data .order table tr td .status.completed {
	background: var(--blue);
}
 .table-data .order table tr td .status.process {
	background: var(--yellow);
}
 .table-data .order table tr td .status.pending {
	background: var(--orange);
}


 .table-data .todo {
	flex-grow: 1;
	
}
.table-data .todo .todo-list {
	width: 100%;
}

.table-data .todo .todo-list li .bx {
	cursor: pointer;
}
 .table-data .todo .todo-list li.completed {
	border-left: 10px solid var(--blue);
}
 .table-data .todo .todo-list li.not-completed {
	border-left: 10px solid var(--orange);
}
 .table-data .todo .todo-list li:last-child {
	margin-bottom: 0;
}