<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page </title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
   
        <header>
          <div class="logo">
            LOGO
          </div>
          <nav>
            <li><a href="" class="active navLink">Film 1</a></li>
            <li><a href="" class="navLink">Film 2</a></li>
            <li><a href="" class="navLink">Film 3</a></li>
          </nav>
        </header>
  
 {% block content %}
 {% endblock %}
 <script>
    const myDialogModal = document.querySelector("#dialogModal");
    const myOpenModalBtn = document.querySelector("#openModalBtn");
    const myCloseModalBtn = document.querySelector("#closeModalBtn");
    
    if (myDialogModal) {
      myOpenModalBtn &&
        myOpenModalBtn.addEventListener("click", () => myDialogModal.showModal());
    
      myCloseModalBtn &&
        myCloseModalBtn.addEventListener("click", () => myDialogModal.close());
    }
    
 </script>
</body>
</html>