{% load static %}
{% include "homepage.html" %}
<header>
    <div class="logo">
      LOGO
    </div>
    <nav>
      <li><a href="#film1" class="active navLink">Film 1</a></li>
      <li><a href="#film2" class="navLink">Film 2</a></li>
      <li><a href="#film3" class="navLink">Film 3</a></li>
    </nav>
  </header>

  <section >
    <div class="sidebar">User information</div>
    <div>

    </div>
       <div class="contentmain">User main</div>
      <div>
  
      </div>
    </section>

  
  
