{% extends 'homepage.html' %}
{% load static %}
{% block content %}

<section class="datesection">
 
  <input type="date" value="2022-03-10" />
  <input type="date" placeholder="paste the date here" />
  <div> <button class=" button"> Search</button>
  </div>
 

 
</section>
 <dialog id="dialogModal" class="modal">
    <h1>My Modal</h1>
    <p>Modal content...</p>
    <p>Click the below button or press `ESC` key to close this.</p>
    <button id="closeModalBtn" class="modal-close-btn">Close the modal</button>
  </dialog>

  <section class="container" >

    <div class="sidebar">
<div class="">  
  <h1>User information</h1>
  <div class="userdata">
    <form>
      <table>
      
          <tr>
              <td><i class="fa-solid fa-location-dot"></i></td>
              <td><span>Username:</span></td>
          </tr>
          <tr>
              <td><i class="fa-solid fa-phone"></i></td>
              <td><span>Email:</span> </td>
          </tr>
          <tr>
              <td><i class="fa-solid fa-paper-plane"></i></td>
              <td> <span>FirstName</span> </td>
          </tr>
          <tr>
              <td><i class="fa-solid fa-earth-asia"></i></td>
              <td><span>PhoneNumber</span></td>
          </tr>
          <tr>
            <td><i class="fa-solid fa-earth-asia"></i></td>
            <td><span>BusinessPhoneNumber</span></td>
        </tr>
        <tr>
          <td><i class="fa-solid fa-earth-asia"></i></td>
          <td><span>BusinessEmail</span></td>
      </tr>
      <tr>
        <td><i class="fa-solid fa-earth-asia"></i></td>
        <td><span>TotalTrans</span></td>
    </tr>
    <tr>
      <td><i class="fa-solid fa-earth-asia"></i></td>
      <td><span>TotalAmmount</span></td>
  </tr>
  <tr>
    <td><i class="fa-solid fa-earth-asia"></i></td>
    <td><span>TotalDispute</span></td>
</tr>
<tr>
  <td><i class="fa-solid fa-earth-asia"></i></td>
  <td><span>TotalDisputeAmmount</span></td>
</tr>
<tr>
  <td><i class="fa-solid fa-earth-asia"></i></td>
  <td><span>ChargeBackcountRate</span></td>
</tr>
<tr>
  <td><i class="fa-solid fa-earth-asia"></i></td>
  <td><span>ChargeBackAmmountRate</span></td>
</tr>
<tr>
  <td><i class="fa-solid fa-earth-asia"></i></td>
  <td><span>AcceptedTrans</span></td>
</tr>
<tr>
  <td><i class="fa-solid fa-earth-asia"></i></td>
  <td><span>DeclinedTrans</span></td>
</tr>
<tr>
  <td><i class="fa-solid fa-earth-asia"></i></td>
  <td><span>Accepted Rate</span></td>
</tr>
<tr>
  <td><i class="fa-solid fa-earth-asia"></i></td>
  <td><span>Limit</span></td>
</tr>
<tr>
  <td><i class="fa-solid fa-earth-asia"></i></td>
  <td><span>Volume</span></td>
</tr>
      </table>
     
  
  </form>
  <div class="box">
      
      <div class="divide">
          <table>
            {% for userinfo in userinfo %}
              <tr>
                  <td><i class="fa-solid fa-location-dot"></i></td>
                  <td><span>{{userinfo.username}}</span> </td>
              </tr>
              <tr>
                  <td><i class="fa-solid fa-phone"></i></td>
                  <td><span>{{userinfo.email}}</span> </td>
              </tr>
              <tr>
                  <td><i class="fa-solid fa-paper-plane"></i></td>
                  <td> <span>{{userinfo.first_name}}</span>  </td>
              </tr>
              <tr>
                  <td><i class="fa-solid fa-earth-asia"></i></td>
                  <td><span>{{userinfo.phonenumber}}</span></td>
              </tr>
              <tr>
                <td><i class="fa-solid fa-earth-asia"></i></td>
                <td><span>{{userinfo.Businessphonenumber}}</span></td>
            </tr>
            <tr>
              <td><i class="fa-solid fa-earth-asia"></i></td>
              <td><span>{{userinfo.Businessemail}}</span></td>
          </tr>
          <tr>
            <td><i class="fa-solid fa-earth-asia"></i></td>
            <td><span>{{userinfo.phonenumber}}</span></td>
        </tr>
        <tr>
          <td><i class="fa-solid fa-earth-asia"></i></td>
          <td><span>{{userinfo.phonenumber}}</span></td>
      </tr>
      <tr>
        <td><i class="fa-solid fa-earth-asia"></i></td>
        <td><span>{{userinfo.phonenumber}}</span></td>
    </tr>
    <tr>
      <td><i class="fa-solid fa-earth-asia"></i></td>
      <td><span>{{userinfo.phonenumber}}</span></td>
  </tr>
  <tr>
    <td><i class="fa-solid fa-earth-asia"></i></td>
    <td><span>{{userinfo.phonenumber}}</span></td>
</tr>
<tr>
  <td><i class="fa-solid fa-earth-asia"></i></td>
  <td><span>{{userinfo.phonenumber}}</span></td>
</tr>
<tr>
  <td><i class="fa-solid fa-earth-asia"></i></td>
  <td><span>{{userinfo.phonenumber}}</span></td>
</tr>
<tr>
  <td><i class="fa-solid fa-earth-asia"></i></td>
  <td><span>{{userinfo.phonenumber}}</span></td>
</tr>
<tr>
  <td><i class="fa-solid fa-earth-asia"></i></td>
  <td><span>{{userinfo.phonenumber}}</span></td>
</tr>
<tr>
  <td><i class="fa-solid fa-earth-asia"></i></td>
  <td><span>{{userinfo.phonenumber}}</span></td>
</tr>
<tr>
  <td><i class="fa-solid fa-earth-asia"></i></td>
  <td><span>{{userinfo.phonenumber}}</span></td>
</tr>
              {% endfor %}
          </table>
      </div>
  </div>
  <button>Send Message</button>
  </div>
</div>
</div>
    
 
    
       <div class="contentmain ">
        <h1>Recent trasaction</h1>

        <div class="table-data">

          <div class="order">
            <div class="head">
              <h3>Recent Orders</h3>
              <i class='bx bx-search' ></i>
              <i class='bx bx-filter' ></i>
            </div>
            <table width="100%">
              <thead>


                <tr>
                  <th>BIN</th>
                  <th><span class="las la-sort"></span> Last 4</th>
                  <th><span class="las la-sort"></span> Ammount</th>
                  <th><span class="las la-sort"></span> Payout</th>
                  <th><span class="las la-sort"></span> Code</th>
                  <th><span class="las la-sort"></span> Accepted</th>
                  <th><span class="las la-sort"></span>Internal Transaction ID</th>
                  <th><span class="las la-sort"></span>Created at</th>
                  <th><span class="las la-sort"></span>Actions</th>
                </tr>

                
              </thead>
              <tbody>{% for transaction in transaction %}
                <tr>
                  <td>{{transaction.Bin}}</td>
                  <td>
                    <div class="client">
                     
                      <div class="client-info">
                  
                        <small>{{transaction.Lastfour}}</small>
                      </div>
                    </div>
                  </td>
                  <td>
                    {{transaction.ammount }} 
                  </td>
                  <td>
                    {{transaction.payout }}
                  </td>
                  <td>
                    {{transaction.code }}
                  </td>
                  <td>
                    {{transaction.accepted }}
                  </td>
                  <td>
                    {{transaction.InternalTransactionid }}
                  </td>
                  <td>
                    {{transaction.created_at }}
                  </td>
                  <td>
                    <div class="actions">
                      <button id="openModalBtn">Open the modal</button>
                    </div>
                  </td>
                </tr>
                {% endfor %}
         
                
              </tbody>
            </table>
          </div>
          
        </div>
        
       </div>
      <div>
  
      </div>
    </section>

    {% endblock %}
  
