{% extends 'homepage.html' %}
{% load static %}
{% block content %}

<section class="datesection">
 
  <input type="date" value="2022-03-10" />
  <input type="date" placeholder="paste the date here" />
  <div> <button class=" button"> Search</button>
  </div>
 
</section>

  <section class="container" >

    <div class="sidebar">
<div class="">  
  <h1>User information</h1>
  <div class="userdata">
    <form>
      <h2>Send us a Message</h2>
      <label forname="fname">Name</label><br>
      
      <label forname="Email">E-mail</label><br>
     
      <label forname="sub">Subject</label><br>
      
      <label forname="msg">Message</label><br>
     
  
  </form>
  <div class="box">
      
      <div class="divide">
          <table>
              <tr>
                  <td><i class="fa-solid fa-location-dot"></i></td>
                  <td><span>Address:</span> 198 West 21th Street, Suite 721<br> New York NY 10016</td>
              </tr>
              <tr>
                  <td><i class="fa-solid fa-phone"></i></td>
                  <td><span>Phone:</span> + 1235 2355 98</td>
              </tr>
              <tr>
                  <td><i class="fa-solid fa-paper-plane"></i></td>
                  <td> <span>Email:</span>  info@yoursite.com</td>
              </tr>
              <tr>
                  <td><i class="fa-solid fa-earth-asia"></i></td>
                  <td><span>Website:</span>  yoursite.com</td>
              </tr>
          </table>
      </div>
  </div>
  <button>Send Message</button>
  </div>
</div>
</div>
    
 
    
       <div class="contentmain ">
        <h1>Recent trasaction</h1>

        <div class="table-data">

          <div class="order">
            <div class="head">
              <h3>Recent Orders</h3>
              <i class='bx bx-search' ></i>
              <i class='bx bx-filter' ></i>
            </div>
            <table width="100%">
              <thead>
                <tr>
                  <th>BIN</th>
                  <th><span class="las la-sort"></span> Last 4</th>
                  <th><span class="las la-sort"></span> Ammount</th>
                  <th><span class="las la-sort"></span> Payout</th>
                  <th><span class="las la-sort"></span> Code</th>
                  <th><span class="las la-sort"></span> Accepted</th>
                  <th><span class="las la-sort"></span>Internal Transaction ID</th>
                  <th><span class="las la-sort"></span>Created at</th>
                  <th><span class="las la-sort"></span>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>#5033</td>
                  <td>
                    <div class="client">
                       <div class="client-img bg-img" style="background-image: url(img/3.jpeg)"></div>
                      <div class="client-info">
                        <h4>Andrew Bruno</h4>
                        <small>bruno@crossover.org</small>
                      </div>
                    </div>
                  </td>
                  <td>
                    $3171
                  </td>
                  <td>
                    19 April, 2022
                  </td>
                  <td>
                    -$205
                  </td>
                  <td>
                    <div class="actions">
                      <span class="lab la-telegram-plane"></span>
                      <span class="las la-eye"></span>
                      <span class="las la-ellipsis-v"></span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>#5033</td>
                  <td>
                    <div class="client">
                       <div class="client-img bg-img" style="background-image: url(img/1.jpeg)"></div>
                      <div class="client-info">
                        <h4>Exty Bruno</h4>
                        <small>exty@crossover.org</small>
                      </div>
                    </div>
                  </td>
                  <td>
                    $3171
                  </td>
                  <td>
                    19 April, 2022
                  </td>
                  <td>
                    -$205
                  </td>
                  <td>
                    <div class="actions">
                      <span class="lab la-telegram-plane"></span>
                      <span class="las la-eye"></span>
                      <span class="las la-ellipsis-v"></span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>#5033</td>
                  <td>
                    <div class="client">
                       <div class="client-img bg-img" style="background-image: url(img/1.jpeg)"></div>
                      <div class="client-info">
                        <h4>Exty Bruno</h4>
                        <small>exty@crossover.org</small>
                      </div>
                    </div>
                  </td>
                  <td>
                    $2171
                  </td>
                  <td>
                    19 April, 2022
                  </td>
                  <td>
                    <span class="paid">Paid</span>
                  </td>
                  <td>
                    <div class="actions">
                      <span class="lab la-telegram-plane"></span>
                      <span class="las la-eye"></span>
                      <span class="las la-ellipsis-v"></span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>#5033</td>
                  <td>
                    <div class="client">
                       <div class="client-img bg-img" style="background-image: url(img/3.jpeg)"></div>
                      <div class="client-info">
                        <h4>Andrew Bruno</h4>
                        <small>bruno@crossover.org</small>
                      </div>
                    </div>
                  </td>
                  <td>
                    $3171
                  </td>
                  <td>
                    19 April, 2022
                  </td>
                  <td>
                    -$205
                  </td>
                  <td>
                    <div class="actions">
                      <span class="lab la-telegram-plane"></span>
                      <span class="las la-eye"></span>
                      <span class="las la-ellipsis-v"></span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>#5033</td>
                  <td>
                    <div class="client">
                       <div class="client-img bg-img" style="background-image: url(img/1.jpeg)"></div>
                      <div class="client-info">
                        <h4>Exty Bruno</h4>
                        <small>exty@crossover.org</small>
                      </div>
                    </div>
                  </td>
                  <td>
                    $3171
                  </td>
                  <td>
                    19 April, 2022
                  </td>
                  <td>
                    <span class="paid">Paid</span>
                  </td>
                  <td>
                    <div class="actions">
                      <span class="lab la-telegram-plane"></span>
                      <span class="las la-eye"></span>
                      <span class="las la-ellipsis-v"></span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>#5033</td>
                  <td>
                    <div class="client">
                       <div class="client-img bg-img" style="background-image: url(img/1.jpeg)"></div>
                      <div class="client-info">
                        <h4>Exty Bruno</h4>
                        <small>exty@crossover.org</small>
                      </div>
                    </div>
                  </td>
                  <td>
                    $2171
                  </td>
                  <td>
                    19 April, 2022
                  </td>
                  <td>
                    <span class="paid">Paid</span>
                  </td>
                  <td>
                    <div class="actions">
                      <span class="lab la-telegram-plane"></span>
                      <span class="las la-eye"></span>
                      <span class="las la-ellipsis-v"></span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>#5033</td>
                  <td>
                    <div class="client">
                       <div class="client-img bg-img" style="background-image: url(img/3.jpeg)"></div>
                      <div class="client-info">
                        <h4>Andrew Bruno</h4>
                        <small>bruno@crossover.org</small>
                      </div>
                    </div>
                  </td>
                  <td>
                    $3171
                  </td>
                  <td>
                    19 April, 2022
                  </td>
                  <td>
                    -$205
                  </td>
                  <td>
                    <div class="actions">
                      <span class="lab la-telegram-plane"></span>
                      <span class="las la-eye"></span>
                      <span class="las la-ellipsis-v"></span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>#5033</td>
                  <td>
                    <div class="client">
                       <div class="client-img bg-img" style="background-image: url(img/1.jpeg)"></div>
                      <div class="client-info">
                        <h4>Exty Bruno</h4>
                        <small>exty@crossover.org</small>
                      </div>
                    </div>
                  </td>
                  <td>
                    $3171
                  </td>
                  <td>
                    19 April, 2022
                  </td>
                  <td>
                    -$205
                  </td>
                  <td>
                    <div class="actions">
                      <span class="lab la-telegram-plane"></span>
                      <span class="las la-eye"></span>
                      <span class="las la-ellipsis-v"></span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>#5033</td>
                  <td>
                    <div class="client">
                       <div class="client-img bg-img" style="background-image: url(img/1.jpeg)"></div>
                      <div class="client-info">
                        <h4>Exty Bruno</h4>
                        <small>exty@crossover.org</small>
                      </div>
                    </div>
                  </td>
                  <td>
                    $2171
                  </td>
                  <td>
                    19 April, 2022
                  </td>
                  <td>
                    <span class="paid">Paid</span>
                  </td>
                  <td>
                    <div class="actions">
                      <span class="lab la-telegram-plane"></span>
                      <span class="las la-eye"></span>
                      <span class="las la-ellipsis-v"></span>
                    </div>
                  </td>
                </tr>
                
              </tbody>
            </table>
          </div>
          
        </div>
        
       </div>
      <div>
  
      </div>
    </section>

    {% endblock %}
  
