<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page </title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
   
        <header>
          <div class="logo">
            LOGO
          </div>
          <nav>
            <li><a href="" class="active navLink">Film 1</a></li>
            <li><a href="" class="navLink">Film 2</a></li>
            <li><a href="" class="navLink">Film 3</a></li>
          </nav>
        </header>
  
 {% block content %}
 {% endblock %}
</body>
</html>